@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: 254, 99, 99;
  --secondary-color: 51 17 17;
  --accent-color: 229, 45, 41;
  --accent-dark-color: 216, 35, 50;
  --skeleton-color: hsl(275, 37%, 20%);
  --dark-color: 19, 8, 8;
  --light-color: 255, 233, 233;
}

body {
  background-color: rgb(var(--dark-color));
  color: rgb(var(--light-color));
}
.lazy-load-image-background {
  width: 100%;
  height: 100%;
}

.popup-video {
  opacity: 0;
  transform: scale(0);
  animation: popup 0.3s forwards;
}
@keyframes popup {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

::-webkit-scrollbar {
  width: 10px;
  background: rgb(var(--dark-color));
  height: 4px;
}
::-webkit-scrollbar-thumb {
  background: hsl(0, 4%, 40%);
  border-radius: 10px;
  box-shadow: inset 1px 4px 10px rgb(0 0 0 / 15%);
}

@layer base {
  .movie-card {
    @apply relative overflow-hidden transition rounded-xl;
  }

  .movie-image {
    @apply w-full h-full object-cover rounded-lg transition-transform duration-[.4s];
  }

  .movie-desc {
    @apply absolute inset-0 flex flex-col justify-between p-4 text-white bg-gradient-to-t from-[#1d2233] to-black/10;
  }

  .primary-btn {
    @apply px-3 py-1.5 leading-tight rounded-full bg-accent-color/70 text-white text-xs hover:bg-accent-dark-color transition duration-300;
  }

  .plus-btn {
    @apply transition-colors rounded-full cursor-pointer bg-white/10 backdrop-blur w-7 h-7 hover:bg-white/20;
  }

  .text-gradient {
    @apply text-transparent bg-gradient-to-br from-fuchsia-300 to-orange-300 bg-clip-text;
  }

  .search-input {
    @apply w-full pl-10 pr-4 text-sm text-white bg-gray-900 border border-gray-700 rounded-full outline-none hover:ring focus:ring;
  }

  .mobile-search-bar-wrapper {
    @apply fixed left-0 w-full px-8 py-4 transition-opacity border-b border-gray-900 opacity-100 bg-gray-950 sm:static sm:p-0;
  }
  .carousel-arrow {
    @apply absolute hidden w-8 h-8 transition -translate-y-1/2 rounded-full shadow-lg cursor-pointer sm:grid place-items-center bg-skeleton hover:bg-slate-700 top-1/2 hover:border border-slate-600;
  }
}
